html {
    font-size: 62.5%;
    font-family: 'Lobster', cursive, sans-serif;
    text-align: center;
    text-justify: distribute;
}

h1 { 
    font-size: 4.2rem;
    
    }

h2 {
    font-size: 3rem;
}


.recipe_list {

    font-size: 1.8rem;
}

.about {
    font-size: 1.8rem;
}

footer {
    background-color: gainsboro;
    font-size: 1.6rem;
    font-family:Arial, Helvetica, sans-serif; 
    font-weight:bold;  
   
}
